body {
    font-family: 'Roboto';
}

.content,
svg {
    margin: 0 auto;
    display: block;
}

.overlay {
    fill: none;
    pointer-events: all;
    cursor: 3crosshair;
}

.line {
    fill: none;
    stroke: #21825C;
    stroke-width: 2px;
}

.tooltip-text {
    fill: rgb(0, 52, 89);
    font-family: 'Oswald', sans-serif;
}

.tooltip-pointer circle {
    fill: rgb(0, 52, 89);
    stroke: rgba(0, 52, 89, 0.3);
    stroke-width: 6px;
}

.tooltip-line {
    stroke: #003459;
}

.tooltip-box {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
}

.tooltip-box .price {
    font-size: 36px;
    fill: #333;
}

.tooltip-box .date {
    font-size: 18px;
    fill: #ccc;
}

.tooltip-box rect {
    fill: rgba(255, 255, 255, .9);
    stroke: #AAA;
    stroke-width: 1px;
}

/** Content **/
.content {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 0;
}

p {
    color: #AAA;
    font-size: 16px;
}